.attractions__list {
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.attractions__item:not(:last-child) {
   margin-bottom: 17px;
}
.attractions__label {
  position: relative;
  display: flex;
  align-items: center;
}
.attractions__input {
  margin-right: 40px;
}
.attractions__mark {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}
.attractions__input[type="checkbox"]:checked + .attractions__mark::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 13px;
  width: 22px;
  height: 16px;
  background-image: url(../img/checked-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width:@tablet-width) {
  .attractions{
    margin-bottom: 26px;
  }
  .attractions__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    margin: 0 auto;
    gap: 0 32px;
  }
  .attractions__item{
    width: 224px;
  }
}
@media (min-width:@desktop-width) {
  .attractions{
    padding-top: 50px;
    margin-bottom: 71px;
  }
  .attractions__list {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding: 0 0 0 43px;
  }
  .attractions__item {
    width: 203px;
    margin-bottom: 0;
  }
}

