.card {
  border-bottom: 1px solid #E5E5E5;
}
.card__image{}
.card__title{
  font-size: 14px;
  line-height: 21px;
}
.card__author{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
}
.cart__likes-count{
  font-size: 14px;
  line-height: 21px;
}
