.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}



.card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 12px;
}
.card__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  margin: 0;
  margin-bottom: 17px;
}
.card__likes-count {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-right: auto;
}

.card__image {
  width: 100%;
  height: 267px;
  object-fit: cover;
  margin-bottom: 15px;
}
.card__likes-icon {
  margin-right: 14px ;
}
.card__likes-container {
  display: flex;
}

@media (min-width:@tablet-width){
  .card {
    width: 50%;
    padding: 0;
  }
  .card--full {
    width: 100%;
  }
  .card--full .card__image {
    height: 400px;
  }
  .card__image {
    margin-bottom: 0;
  }
  .card__author {
    margin-bottom: 0;
  }

}
@media (min-width: @desktop-width) {
  .card {
    width: 33.33%;
    padding: 0;
  }
  .card--full {
    width: 100%;
  }
  .card--full .card__image {
    height: 400px;
  }
  .card__image {
    margin-bottom: 0;
  }
  .card__likes-icon {
    fill: #ffffff; //не работает почему то
  }
}
