.city-list {
  list-style: none;
  margin: 0 ;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.city-list__item {
  width: 320px;
  display: flex;
  padding: 23px 18px;
}

.city-list__title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}
.city-list__text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}


@media (min-width:@tablet-width) {
  .city-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .city-list__item {
    width: 33.33%;
    flex-direction: column;
    align-items: center;
    padding: 60px 36px;
  }
  .city-list__wrapper {
    text-align: center;
  }
  .city-list__icon {
    margin-bottom: 26px;
  }
  .city-list__title {
    margin-bottom: 34px;
  }
}
@media (min-width:@desktop-width) {
  .city-list {
    width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .city-list__item {
    width: 33.33%;
    flex-direction: column;
    align-items: center;
    padding: 60px 36px;
  }
  .city-list__wrapper {
    text-align: center;
  }
  .city-list__icon {
    margin-bottom: 26px;
  }
  .city-list__title {
    margin-bottom: 34px;
  }
}
