
.features__header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 21px;
  position: relative;
  padding: 0 27px;
}

.features__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #000000;
  padding: 24px 17px 25px;
  border-top: 1px solid #D6D6D6;
  margin: 0;
}
.features__decor {
  position: absolute;
  bottom: -54px;
  left: 0;
  width:100% ;
}
.features__card--picture {
  background-color: #81B3D2;
  color: #ffffff;
  padding: 41px 18px 36px;
}
.features__card--ident{
  padding-top: 66px ;
  padding-bottom: 41px;
}
.features__image {
  display: block;
}

.features__title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
}
.features__title--ident {
  margin-bottom: 11px;
}
.features__number {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom:16px;
}
.features__intro {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.features__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #EEEEEE;
}


@media (min-width:@tablet-width) {
  .features__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding: 0px;
  }
  .features__header {
    width: 520px;
    padding: 16px 0px 0px;
  }
  .features__image {
    width: 512px;
    object-fit: cover;
  }
  .features__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 27px;
  }
  .features__decor{
    display: none;
  }
  .features__header-inro{
    margin-bottom: 36px;
  }
  .features__card-intro {
    margin-bottom: 0;
  }

  .features__number {
    margin-bottom: 24px;
  }
  .features__card {
    width: 256px;
    margin: 0;
    padding: 36px 39px 43px
  }
  .features__title--ident {
    margin-bottom: 11px;
    padding: 0 21px;
  }
  .features__card--picture {
    padding: 40px 32px 0;
  }
}


@media (min-width:@desktop-width) {
  .features__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0px;
  }
  .features__header {
    width: 520px;
    padding: 28px 0px 0px;
  }
  .features__image {
    width: 800px;
    object-fit: cover;
  }
  .features__card {
    width: 400px;
    margin: 0;
    padding: 39px 63px 62px;
  }
  .features__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 27px;
  }
  .features__decor{
    display: none;
  }
  .features__header-inro{
    margin-bottom: 25px;
  }
  .features__card-intro {
    margin-bottom: 0;
  }

  .features__title--ident {
    margin-bottom: 14px;
    padding: 0 58px;
  }
  .features__number {
    margin-bottom: 24px;
}
  .features__card--picture{
    padding: 48px 67px 49px;
  }
}
