
.features__header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 56px;
  position: relative;
  padding: 0 20px;
}

.features__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  background-color: #EEEEEE;
  color: #000000;
  border-top: 1px solid #D6D6D6;
  width: 320px;
  padding: 26px 18px;
  margin: 0;
}
.features__decor {
  position: absolute;
  bottom: -56px;
  left: 0;
  width:100% ;
}
.features__card--picture {
  background-color: #81B3D2;
  color: #ffffff;
  padding: 39px 16px;
}

.features__title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
}
.features__number {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom:28px;
}
.features__intro {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.features__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
}


@media (min-width:@tablet-width) {
  .features__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .features__header {
    width: 520px;
  }
  .features__image {
    width: 512px;
    object-fit: cover;
  }
  .features__card {
    width: 256px;
    margin: 0;
    padding: 32px; //задать вопрос
  }

}
@media (min-width:@desktop-width) {
  .features__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }
  .features__card {
    width: 400px;
    margin: 0;
    padding: 42px;
  }
  .features__header {
    width: 520px;
  }
  .features__image {
    width: 800px;
    object-fit: cover;
  }
}
