.field__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.field__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
}

.field--phone {
  position: relative;
}

.field--email {
  position: relative;
}

.field--phone::before {
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/contacts-phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.field--email::before {
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/contacts-email-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.field span {
  padding: 0 15px;
}
