.hotel-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 41px 19px 49px;
}

.hotel-reservation__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
}

.hotel-reservation__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .hotel-reservation {
    padding: 61px 138px 57px;
    width: 768px;
  }

  .hotel-reservation__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .hotel-reservation__intro {
    margin-bottom: 44px;
  }

  .hotel-reservation__intro span {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .hotel-reservation {
    padding: 58px 253px 66px;
    width: 1200px;
  }

  .hotel-reservation__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  .hotel-reservation__intro {
    margin-bottom: 49px;
  }
}
