.main-footer{
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
.main-footer__wrapper{}
.main-footer__hashtag{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.main-footer__social{}
.main-footer__copyright{}


