.main-navigation {
  text-transform: uppercase;
}
.main-navigation__toggle {
  border: none;
  background-color: #ffffff;
}
.main-navigation__toggle-icon {
  fill:#81B3D2;
}
.main-navigation__list {
  list-style: none;
}
.main-navigation__link {
  text-decoration: none;
  color: #000000;
}

