.rating {
  font-weight: 700;
  text-align: center;
}
.rating__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-transform: none;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating__item {
  margin-bottom: 26px;
}

@media (min-width:@tablet-width) {
  .rating__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    flex-direction: row;
  }
  .rating__item {
    width:280px;
  }

}
  @media (min-width:@desktop-width) {
  .rating__list {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    flex-direction: row;
  }
  .rating__item {
    width:280px;
  }
}
