.review__header {
  text-transform: uppercase;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  text-align: center;
  padding: 36px 20px 26px;
  border-bottom: 1px solid #E5E5E5;
}
.review__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 24px;
}
.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

@media (min-width:@tablet-width){
  .review__header {
    width: 100%;
    padding: 64px 166px;
  }
  .review__title {
    font-size: 30px;
    line-height: 26px;
     margin-bottom: 24px;
  }
}
@media (min-width:@desktop-width){
  .review__header {
    width: 100%;
    padding: 115px 384px;
  }
  .review__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 39px;
  }

}
