.review{
  background-color: #ffffff;
  color:#000000;
}
.review__wrapper {}
.review__header {
  text-transform: uppercase;
}
.review__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}
.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.review__form {}

