.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 156px;
  padding: 0;
  margin: 0 auto;
}

.social__item {
  background-color: #81b3d2;
  color: #ffffff;
  width: 48px;
  height: 48px;
}

.social__item--vkontakte {
  background-image: url("../img/social-vkontakte.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social__item--youtube {
  background-image: url("../img/social-youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social__item--telegram {
  background-image: url("../img/social-telegram.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
