.text-review {
  border-bottom: none;
}

.text-review__input {
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: fade(#000000, 30%);
  display: block;
  margin: 0 auto;
  width: 100%;
  resize: none;
  padding: 16px 15px 4px;
}

@media (min-width: @tablet-width) {
  .text-review__input {
    padding: 16px 15px 14px;
  }
}

@media (min-width: @desktop-width) {
  .text-review__input {
    width: 768px;
    padding: 16px 15px 14px;
  }
}
