.text-review {
  border-bottom: none;
}
.text-review__input {
  border:none;
  background-color: #F2F2F2;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: fade(#000000, 30%);
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 18px;
}
@media (min-width:@tablet-width) {
  .text-review__input {
    width: 648px;
  }
}
@media (min-width:@desktop-width) {
  .text-review__input {
    width: 768px;
  }
}
